projectn.xcodeproj/xcuserdata
projectn.xcodeproj/project.xcworkspace/xcuserdata
projectn/Vendors/Urho/build
projectn/.vscode
projectn/buildXC
urho/build
urho/.vscode
urho/Source/ThirdParty/Assimp/build
assettool.xcodeproj/project.xcworkspace/xcuserdata
assettool.xcodeproj/xcuserdata
assettool.xcworkspace/xcuserdata
assettool/Vendors/DevIL/buildXC
assettool/Vendors/DevIL/build
assettool/Vendors/DevIL/examples/build
tmp/obj
tmp/bin
urho/build1
urho/buildXC
projectn/build123/
urho_prev/
projectn/.vs/
